<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Profile</h1>
  <p>Username: {{user.username}}</p>
  <p>Email: {{user.email}}</p>
</body>
</html>
